# Test widget overlap

Make sure that the dropdown appears on top of the table both in notebook mode and dashboard mode.

In [1]:
from ipywidgets import interact
from IPython.display import display
import pandas as pd
import numpy as np

In [2]:
@interact(count=['5','10','15'])
def render(count):
    count = int(count)
    data = np.random.randn(count, count)
    display(pd.DataFrame(data))

          0         1         2         3         4
0 -0.530732  1.621146 -0.126288  1.167242 -0.766511
1 -1.364793  0.552483  0.469089  1.832049  0.447459
2  1.519049  1.320204 -0.667104  0.472766  0.447858
3 -1.110542  0.382313  0.318607 -0.286869 -0.292909
4 -0.609675  2.524271 -1.760126  1.428137  0.698046